<configuration>
    <!--
         This is the development logging configuration and won't be on
         the classpath when running in production.

         For prod or other use cases, set the path to an alternative
         config using

         java -Dlogback.configurationFile=/path/to/config.xml ...

         See https://logback.qos.ch/manual/configuration.html
    -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/development.log</file>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <!--
                <includeContextName>false</includeContextName>
                <includeThreadName>false</includeThreadName>
                <includeLevel>false</includeLevel>
                <includeLoggerName>false</includeLoggerName> -->
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampFormat>
                <timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>false</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>

    <logger name="com.baeldung.httpclient.readresponsebodystring" level="debug"/>
    <logger name="org.apache.http" level="debug"/>
    <logger name="org.apache.hc.client5.http" level="debug"/>
    <logger name="org.apache.xml.security" level="INFO" />
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>
