{:mappings
 {"studiekeuzecheck"
  {"no_study_choice_check" "GEEN_STUDIEKEUZE_CHECK",
   "study_choice_check_available" "STUDIEKEUZE_CHECK_VAN_TOEPASSING",
   "study_choice_check_mandatory" "STUDIEKEUZE_CHECK_VERPLICHT"},
  "categorie"
  {"agriculture_food_and_natural_environment"
   "LANDBOUW_VOEDSEL_EN_NATUURLIJKE_OMGEVING",
   "law" "RECHT",
   "tourism_hospitality_and_recreation" "TOERISME_HORECA_EN_RECREATIE",
   "economy" "ECONOMIE",
   "education" "ONDERWIJS",
   "healthcare_and_sport" "GEZONDHEID_ZORG_EN_SPORT",
   "cross_sectoral" "SECTOROVERSTIJGEND",
   "management_and_project_management"
   "MANAGEMENT_EN_PROJECTMANAGEMENT",
   "nature" "NATUUR",
   "hobby_and_leisure_time" "HOBBY_EN_VRIJE_TIJD",
   "transport_and_logistics" "TRANSPORT_EN_LOGISTIEK",
   "technology_and_ict" "TECHNIEK_EN_ICT",
   "security_and_defense" "VEILIGHEID_EN_DEFENSIE",
   "behavior_and_society" "GEDRAG_EN_MAATSCHAPPIJ",
   "business_and_project_support" "BEDRIJFS_EN_PROJECTONDERSTEUNING",
   "language_and_culture" "TAAL_EN_CULTUUR"},
  "versneldTraject"
  {"accelerated_route" "VERSNELD_TRAJECT",
   "no_accelerated_route" "GEEN_VERSNELD_TRAJECT"},
  "toestemmingVereistVoorAanmelding" {"yes" "JA", "no" "NEE"},
  "cohortStatus" {"open" "O", "closed" "G"},
  "vorm"
  {"full-time" "VOLTIJD",
   "part-time" "DEELTIJD",
   "dual training" "DUAAL",
   "self-paced" "DEELTIJD"},
  "propedeutischeFase"
  {"no_propaedeutic_phase" "GEEN_PROPEDEUTISCHE_FASE",
   "propaedeutic_phase_exam" "PROPEDEUTISCHE_FASE_EXAMEN",
   "propaedeutic_phase_no_exam" "PROPEDEUTISCHE_FASE_ZONDER_EXAMEN"},
  "soort"
  {"STAP eligible" "TOTAAL_STAP_SUBSIDIEERBAAR",
   "total costs" "TOTALE_VERPLICHTE_KOSTEN"},
  "deficientie"
  {"deficiencies" "DEFICIENTIES",
   "no_deficiencies" "GEEN_DEFICIENTIES"},
  "voertaal"
  {"rus" "RUS",
   "nor" "NOR",
   "swe" "SWE",
   "ron" "RON",
   "deu" "DEU",
   "ara" "ARA",
   "eng" "ENG",
   "tur" "TUR",
   "pol" "POL",
   "chi" "CHI",
   "hrv" "HRV",
   "spa" "SPA",
   "pap" "PAP",
   "nld" "NLD",
   "fra" "FRA",
   "ita" "ITA",
   "jpn" "JPN",
   "por" "POR"},
  "eqf"
  {"3" "3",
   "4" "4",
   "8" "8",
   "7" "7",
   "5" "5",
   "6" "6",
   "1" "1",
   "4+" "4",
   "2" "2"},
  "studielasteenheid"
  {"contacttime" "CONTACTUUR",
   "ects" "ECTS_PUNT",
   "sbu" "SBU",
   "sp" "STUDIEPUNT",
   "hour" "UUR"},
  "waardedocumentsoort"
  {"diploma" "DIPLOMA",
   "certificate" "CERTIFICAAT",
   "no official document" "GEEN_OFFICIEEL_DOCUMENT",
   "school advice" "SCHOOLADVIES",
   "testimonial" "GETUIGSCHRIFT"},
  "eisenWerkzaamheden"
  {"requirements" "EISEN", "no_requirements" "GEEN_EISEN"},
  "toestemmingDeelnameSTAP"
  {"permission_granted" "TOESTEMMING_VERLEEND",
   "permission_not_granted" "GEEN_TOESTEMMING_VERLEEND"},
  "opleidingsvorm"
  {"distance-learning" "ONLINE",
   "on campus" "KLASSIKAAL",
   "online" "ONLINE",
   "hybrid" "KLASSIKAAL_EN_ONLINE",
   "situated" "KLASSIKAAL",
   "" "COACHING"},
  "nlqf"
  {"3" "3",
   "4" "4",
   "8" "8", 
   "7" "7", 
   "5" "5", 
   "6" "6", 
   "1" "1", 
   "4+" "4p", 
   "2" "2"}}}
